# 고급대기과학 실습 1 (2022.03.12 @Yeji Choi)
## 1. basic_python

In [99]:
print('Hello world')
print('파이썬 머신러닝')
print('셀 실행은 shift + Enter')

Hello world
파이썬 머신러닝
셀 실행은 shift + Enter

> 기본 데이터 타입
1. int
2. float
3. str
4. bool

In [103]:
a=1
b=1.
c='c'
d=True
print(a,b,c,d)
type(a), type(b), type(c), type(d)

1 1.0 c True

(int, float, str, bool)

In [101]:
a=1 ; b=2; c=3
a,b,c

(1, 2, 3)

In [102]:
del b
a,b,c,

NameError: name 'b' is not defined

In [107]:
a_float=float(a)
a_float, type(a_float)

(1.0, float)

In [106]:
a_int=int(a_float)
a_int, type(a_int)

(1, int)

In [112]:
x=20; y=3
print(x+y)
print(x-y)
print(x*y)
print(x**y)
print(x/y)
print(x//y)
print(x%y)

23
17
60
8000
6.666666666666667
6
2

In [113]:
a=3+5j
b=2+7j
a+b, a-b, a*b, a/b

((5+12j), (1-2j), (-29+31j), (0.7735849056603773-0.2075471698113208j))

In [117]:
complex(3), complex(2.3), complex('3'), complex('2.3'), complex('2j'), complex(2j), complex(2+3j)

((3+0j), (2.3+0j), (3+0j), (2.3+0j), 2j, 2j, (2+3j))

In [118]:
complex('2.3')+ complex('2j')

(2.3+2j)

In [130]:
s="Hello" #" ",' ',''' ''',""" """ 다 같음
s

'Hello'

In [131]:
s[1],s[3]

('e', 'l')

In [139]:
print("Say \"Hello\" to everyone")
print("Say \n\"Hello\"\n to everyone")
print("Say \t\"Hello\" to everyone")
print("Say \\\"Hello\" to everyone")

Say "Hello" to everyone
Say
"Hello"
 to everyone
Say 	"Hello" to everyone
Say \"Hello" to everyone

In [140]:
a=10
b=str(a)
type(a), type(b)

(int, str)

In [141]:
a='abc'
b='def'
a+b

'abcdef'

In [142]:
a*3

'abcabcabc'

In [146]:
'c' in a, 'd' in a, 'a' not in a

(True, False, False)

## math module

In [119]:
import math

In [121]:
math.ceil(5.1), math.ceil(5.9), math.ceil(5), math.ceil(6)

(6, 6, 5, 6)

In [122]:
math.floor(5.1), math.floor(5.9), math.floor(5), math.floor(6)

(5, 5, 5, 6)

In [124]:
math.fabs(-5), abs(-5)

(5.0, 5)

In [125]:
math.pow(2,3)

8.0

In [126]:
math.pi

3.141592653589793

In [127]:
math.sqrt(100)

10.0

In [129]:
math.trunc(5.6)

5

> 기본 데이터 구조
1. ___리스트___
2. 튜플
3. 딕셔너리
4. 셋

In [11]:
data1 = [0, 1, 2, 3, 4, 5]
data2=list()
data3=list('cat')
type(data1), type(data2), type(data3)

(list, list, list)

In [12]:
data1 * 3, data3 * 3

([0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5],
 ['c', 'a', 't', 'c', 'a', 't', 'c', 'a', 't'])

In [4]:
data + data

[0, 1, 2, 3, 4, 5, 0, 1, 2, 3, 4, 5]

In [6]:
# 파이썬의 리스트의 원소는 임의의 파이썬 객체, 즉 "아무거나"될 수 있습니다.
data= [[1, 2.3], ['사',5],[5,10]]

In [8]:
results = []
for n in data:
    print(n)
    results.append(n * 2)
    print(results)

[1, 2.3]
[[1, 2.3, 1, 2.3]]
['사', 5]
[[1, 2.3, 1, 2.3], ['사', 5, '사', 5]]
[5, 10]
[[1, 2.3, 1, 2.3], ['사', 5, '사', 5], [5, 10, 5, 10]]

In [29]:
data1=[1,2,3]
data2=[4,5]
data1.append(data2)
print(data1)

data1=[1,2,3]
data2=[4,5]
data1.extend(data2)
print(data1)

[1, 2, 3, [4, 5]]
[1, 2, 3, 4, 5]

In [30]:
data1.insert(3,0)
data1

[1, 2, 3, 0, 4, 5]

In [31]:
del data1[-1]
data1

[1, 2, 3, 0, 4]

In [33]:
data1.index(0)

3

In [35]:
1 in data1, 5 in data1

(True, False)

In [36]:
len(data1)

5

In [38]:
sorted(data1)

[0, 1, 2, 3, 4]

> 기본 데이터 구조
1. 리스트
2. ___튜플___
3. 딕셔너리
4. 셋

* 튜플에는 append(), insert() 등을 사용할 수 없습니다.

In [43]:
tu_data1 = ()
tu_data2 = 1,
tu_data3 = 1,2,3
type(tu_data1), type(tu_data2), type(tu_data3)

(tuple, tuple, tuple)

In [44]:
a, b, c = 100, 200, 300
print(a, b, c)

100 200 300

In [65]:
li_data=[1,2,3]
tu_data=tuple(li_data)
type(tu_data)

tuple

> 기본 데이터 구조
1. 리스트
2. 튜플
3. ___딕셔너리___
4. 셋

In [68]:
di_data={}
type(di_data)

dict

In [74]:
data=[['a','b'],['c','d'],['e','f']]
data=dict(data)
data

{'a': 'b', 'c': 'd', 'e': 'f'}

In [76]:
data['a'], data['c']

('b', 'd')

In [77]:
data['a']='g'

In [78]:
data

{'a': 'g', 'c': 'd', 'e': 'f'}

In [81]:
data.keys()

dict_keys(['a', 'c', 'e'])

In [82]:
data.values()

dict_values(['g', 'd', 'f'])

> 기본 데이터 구조
1. 리스트
2. 튜플
3. 딕셔너리
4. ___셋___

In [84]:
se_data=set()
type(se_data)

set

In [90]:
se_data1={1,2,3,4,5,6,5,6}
se_data1

{1, 2, 3, 4, 5, 6}

In [97]:
se_data2={0,2,4,6,8}
se_data3={4,6,8,10,12}
se_data2 & se_data3, se_data2 | se_data3, se_data2-se_data3, se_data2^se_data3

({4, 6, 8}, {0, 2, 4, 6, 8, 10, 12}, {0, 2}, {0, 2, 10, 12})

In [98]:
li_data1=[0,2,4,6,8]
li_data2=[4,6,8,10,12]
li_data1 & li_data2

TypeError: unsupported operand type(s) for &: 'list' and 'list'

In [161]:
a=range(5) ; b=list(range(5))
print(a, b)
type(a), type(b)

range(0, 5) [0, 1, 2, 3, 4]

(range, list)

In [167]:
list(range(5,10)), list(range(2,10,3)), list(range(10,3,-1))

([5, 6, 7, 8, 9], [2, 5, 8], [10, 9, 8, 7, 6, 5, 4])

### While, for 문

In [148]:
data=1
while data<11:
    print(data, "Hello")
    data+=1 #이걸 빼면 무한 반복 루프 생성

1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello
8 Hello
9 Hello
10 Hello

In [151]:
a=2
even_sum=0
while a <= 10:
    even_sum += a
    a += 2
print('1부터 10까지의 짝수의 합: {}'.format(even_sum))

1부터 10까지의 짝수의 합: 30

In [152]:
fruits=['apple','kiwi', 'pineapple','orange']
i=0
while i < len(fruits):
    print(fruits[i])
    i += 1

apple
kiwi
pineapple
orange

In [153]:
i = 1
while i <= 10:
    print(i)
    if i == 5:
        break
    i += 1

1
2
3
4
5

In [156]:
for x in ['a','b','c','d']:
    print(x)

a
b
c
d

In [155]:
name='AliCe'
for x in name:
    if x.isupper():
        print(x)
    else:
        print(x.upper())

A
L
I
C
E

In [157]:
friends=['Min', 'Su', 'Ji', 'Eun']
for friend in friends:
    print('Welcom! {}.'.format(friend))

Welcom! Min.
Welcom! Su.
Welcom! Ji.
Welcom! Eun.

In [158]:
info = {'a':1, 'b':2, 'c':3}
for x in info:
    print(x)

a
b
c

In [168]:
for a in range(5):
    print(a)

0
1
2
3
4

In [170]:
total=0
for x in range(10,16):
    total += x
print('10 부터 15까지의 합:', total)

10 부터 15까지의 합: 75

In [174]:
data=list(range(-10,10,2))
data

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [175]:
for x in data:
    if x == 0:
        break
    print(x)

-10
-8
-6
-4
-2

In [177]:
for idx, x in enumerate(data):
    if x == 0:
        break
    print(idx, x)

0 -10
1 -8
2 -6
3 -4
4 -2

In [178]:
for idx, x in enumerate(data):
    if x == 0:
        continue
    print(idx, x)

0 -10
1 -8
2 -6
3 -4
4 -2
6 2
7 4
8 6
9 8

In [179]:
A=[x*x for x in range(1,11)]
A

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

## Function and class

In [180]:
def hello():
    print('Hi! Nice to meet you')

In [181]:
hello()

Hi! Nice to meet you

In [188]:
def hello(name):
    print('Hi, '+ name + '! Nice to meet you')

In [189]:
hello('Yeji')

Hi, Yeji! Nice to meet you

In [190]:
def add(x,y):
    z= x+y
    return z

In [191]:
add(10,23)

33

In [196]:
def local_var():
    var = 10
    print(var)

In [194]:
local_var()

10

In [197]:
var

NameError: name 'var' is not defined

In [198]:
def test():
    var=10
    print(var, x)

In [199]:
x=100
test()

10 100

In [200]:
def test():
    var=10
    print(var, xx)
    
test()
xx=100

NameError: name 'xx' is not defined

In [201]:
def test():
    global a
    a=10
    print(a)

In [202]:
a=20
print(a)

20

In [203]:
a=20
test()
print(a)

10
10

In [204]:
def func(*args):
    print(args)

In [207]:
func()

()

In [208]:
func(10)

(10,)

In [209]:
func(10,20,30)

(10, 20, 30)

In [221]:
def find_larger(n, *args):
    count = 0
    for i in args:
        if i > n :
            count += 1
    return count

In [222]:
w=find_larger(10)
w

0

In [223]:
w=find_larger(10, 2,3,4)
w

0

In [224]:
w=find_larger(10, 2, 3, 4, 15, 20)
w

2

In [228]:
def key_func(**kwargs):
    print(kwargs)

In [229]:
key_func(a=10, b=20)

{'a': 10, 'b': 20}

In [230]:
def key_func(**kwargs):
    for key, value in kwargs.items():
        print(key, ':', value)

In [232]:
key_func(name='Jieun', height=165, age=15)

name : Jieun
height : 165
age : 15

## lambda 함수

In [234]:
f=lambda x, y : x+y
z=f(3,5)
print(z)

8

In [235]:
def square(x):
    return(x**2)